{% extends "socialnetwork/login.html" %}

{% load addcss %}


{% block panel %}

<form method="post" action="{% url 'edit' %}" class="form-signin">
<table style="margin-right:auto;
  margin-left:auto; ">
		{{ form.first_name|addcss:"form-control, placeholder:first name" }}
		{{ form.last_name|addcss:"form-control, placeholder:last name" }}
		{{ form.school|addcss:"form-control, placeholder:school" }}
		{{ form.major|addcss:"form-control, placeholder:major" }}
		{% csrf_token %}
		<input type='submit' name='submitPost' value='Submit' >
{% endblock %}
