{% extends "socialnetwork/base.html" %}

{% load addcss %}

{% block mainbody %}
<div class="modal-dialog" style="margin-top: 100px;">
<div class="modal-content" style="background-color: rgba(243, 156, 18, 0.8);width: 100%;margin-right: auto;margin-left: auto;">
	<form method="post" enctype="multipart/form-data" action="{% url 'edit' %}" class="form-signin">
        {% if form.picture.errors %}
            <ol>
            {% for error in form.picture.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
        <table style="margin-right:auto;
          margin-left:auto; ">
        <div class="modal-body">
            <center>
            <div class="image-cropper" style="width: 500px;height: 300px;border-radius: 5%;">
            <img src="{{picture_url}}" width="200px" name="aboutme" border="0">
          </div>
        <br>
            {{ form.first_name|addcss:"form-control, placeholder:first name" }}
        <br>
    		{{ form.last_name|addcss:"form-control, placeholder:last name" }}
            </center>
        <br>
            {{ form.school|addcss:"form-control, placeholder:school" }}
        <br>
            {{ form.major|addcss:"form-control, placeholder:major" }}
        <br>
            Upload A Picture as Profile Picture
        <br>
            {{ form.picture|addcss:"form-control, placeholder:picture" }}
        <br>
            <!-- <span><strong>Classes: </strong></span> -->
                <!-- {% for class in classes %}
                <span class="label label-info">{{class}}</span>
                {% endfor %} -->
        <div class="modal-footer">
            <center>
            <button type="submit" class="btn btn-info" data-dismiss="modal" value="Edit">Done Editing</button>
            </center>
        </div>
        {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}

{% block scripts %}
<!-- jQuery -->
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<script type="text/javascript">
    $('.bootstrap-datetimepicker-widget').css('background','black');
    
</script>

<!-- Menu Toggle Script -->
{% endblock %}