{% extends "socialnetwork/base.html" %}

{% block mainbody %}
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="background: url(http://subtlepatterns.com/patterns/congruent_outline.png);">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Studi Room 15-122
                </a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-question-sign"></span>  This is the first question</a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-question-sign"></span>  This is the second question</a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-question-sign"></span>  This is the third question</a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-file"></span>  These are some notes</a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-question-sign"></span>  More questions about life</a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-question-sign"></span>  Other questions about everything else</a>
            </li>
            
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="margin-top:60px">
        <div class="container">
<div class="row">

    <div class="timeline-centered">

    <article class="timeline-entry">

        <div class="timeline-entry-inner">

            <div class="timeline-label">
                <form action="{% url 'add_post' current_class %}" method="post">
                    <div class="col">
                        <div class="panel" style="background-color:#00BC8C">
                          <div class="panel-heading">
                            <h3 class="panel-title">New Post:</h3>
                          </div>
                          <div class="panel-body">
                            <input type="text" class = "form-control" maxlength="160" name="post">
                            <input type="submit" text="Post">
                          </div>
                        </div>
                    </div>
                  {% csrf_token %}
                </form>
            </div>
        </div>

    </article>

    <article class="timeline-entry">

        <div class="timeline-entry-inner">

            <div class="timeline-icon bg-success">
                <i class="entypo-feather"></i>
            </div>

            <div class="timeline-label">
                <h2><a href="#">Shashwat Srivastava</a> <span>asked a Question</span></h2>
                <p>Is the world really round?</p>
            </div>
        </div>

    </article>


    <article class="timeline-entry">

        <div class="timeline-entry-inner">

            <div class="timeline-icon bg-secondary">
                <i class="entypo-suitcase"></i>
            </div>

            <div class="timeline-label">
                <h2><a href="#">Sudev Bohra</a> <span>gave an Answer</span></h2>
                <p>This is real, trust me.</p>
            </div>
        </div>

    </article>
    <article class="timeline-entry">

        <div class="timeline-entry-inner">

            <div class="timeline-icon bg-warning">
                <i class="entypo-camera"></i>
            </div>

            <div class="timeline-label">
                <h2><a href="#">Parag Srivastava</a> <span>gave an Answer</span></h2>

                <p> The world was flat 800 years ago. And this picture is cool </p>

                <img src="http://themes.laborator.co/neon/assets/images/timeline-image-3.png" class="img-responsive img-rounded full-width">
            </div>
        </div>

    </article>


    <article class="timeline-entry begin">

        <div class="timeline-entry-inner">
            <a href="#">
            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                <i class="entypo-flight"></i>+
            </div></a>

        </div>

    </article>
{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    

    var addClassHTML="";
    addClassHTML += "<div class=\"form-group\">";
    addClassHTML += "    <input name=\"search\" id=\"search\"\/>";
    addClassHTML += "    <button class=\"btn btn-warning btn-xs\">button<\/button>";
    addClassHTML += "<\/div>";

    $("#add-class").click(function(e) {
        $("#add-class").hide(100);
        $('#class').show(500);
    });
    </script>
{% endblock %}

