{% extends "socialnetwork/base.html" %}
{% load addcss %}


{% block head %}

{% endblock %}

{% block top %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a New StudyGroup</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'add_studygroup' %}" class="form-signin">
        <table style="margin-right:auto;
          margin-left:auto; ">

              {{ studygroupform.as_table}}
               

                
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create!</button>
      </div>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>

<div id="map-canvas"></div>
<a href="#" style="position: fixed; bottom: 30px; right: 272px;" class="btn btn-default btn-sm  "><span class="glyphicon glyphicon-question-sign" id = "undecided-location" aria-hidden="true"></span> Undecided Location</a>
 <a href="#" id = "finish-study-group" style="position: fixed; bottom: 30px; right: 70px;" class="btn btn-warning btn-sm  "><span class="glyphicon glyphicon-check"  aria-hidden="true"></span> Finish Creating Study Group</a>
 
<a href="#" style="position: fixed; bottom: 30px; right: 30px;" class="btn btn-info btn-sm  " id = "location"><span class="glyphicon glyphicon-record"  aria-hidden="true"></span></a>
</div>

{% endblock %}

{% block scripts %}
<style>
      #map-canvas {
        width: 200vh;
        height: 100vh;
        margin-top:60px;
        margin-left:auto;
        margin-right:auto;
        
      }
    </style>

    <script src="/static/js/jquery.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>


  var data = {};
  function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
  var center = new google.maps.LatLng(40.4430939,-79.942309);
    var mapOptions = {
      center: center,
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      streetViewControl: false
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    data.map = map; 
    map.set('styles', [
     
  {
    featureType: 'poi.school',
    elementType: 'geometry',
    stylers: [
      { hue: '#f29b10' },
      { lightness: -15 },
      { saturation: 99 }
    ]
  }

]);
  data.markerSelect = new google.maps.Marker({
      position: center,
      map: map,
      icon:'http://cdn-img.easyicon.net/png/40/4058.png',
      draggable:true,
      title:"New Study Group Location"
    });
  var infowindow = new google.maps.InfoWindow({
           content: "<div style='background: #ed1e79;'><h3 class='navbar-brand' style='color:black;'>Click or Drag To Location</h3></div>", noSuppress: true
         });
  infowindow.open(map,data.markerSelect);

  document.getElementById("location").onclick = function() {
    $('#location').attr('class','btn btn-danger btn-sm');
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      data.markerSelect.setPosition(pos);

     
    }, function() {
      handleNoGeolocation(true);
    });
    $('#location').attr('class','btn btn-info btn-sm');
  }

  document.getElementById("finish-study-group").onclick = function() {
    var pos = data.markerSelect.getPosition();
    var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].defaultValue;
    $.ajax({
        url: "{% url 'set_map_studygroup' %}",
        type:'post',
        dataType : "json",
        data: {csrfmiddlewaretoken: csrftoken, lat:pos.k, lng:pos.D, id:{{studygroup_id}} },
        success: function( items ) {
            
            console.log('success');
            $('.navbar-brand')[0].click();
        }, error: function (items) {
            $('.navbar-brand')[0].click();
        }
            
    });
  }


  google.maps.event.addListener(data.markerSelect, 'click', function() {
    map.setCenter(data.markerSelect.getPosition());
  });

  google.maps.event.addListener(map, 'click', function(event) {
            data.markerSelect.setPosition(event.latLng);
        });
  // Try HTML5 geolocation
  $('#location').click();
}

function fixInfoWindow() {
    // Here we redefine the set() method.
    // If it is called for map option, we hide the InfoWindow, if "noSuppress"  
    // option is not true. As Google Maps does not know about this option,  
    // its InfoWindows will not be opened.

    var set = google.maps.InfoWindow.prototype.set;

    google.maps.InfoWindow.prototype.set = function (key, val) {
        if (key === 'map' && ! this.get('noSuppress')) {
            console.warn('This InfoWindow is suppressed.');
            console.log('To enable it, set "noSuppress" option to true.');
            return;
        }

        set.apply(this, arguments);
    }
}

  fixInfoWindow();
  google.maps.event.addDomListener(window, 'load', initialize);

  

</script>


    <!-- jQuery -->
    


    
    <!-- Menu Toggle Script -->
{% endblock %}