{% extends "socialnetwork/base.html" %}
{% load addcss %}


{% block head %}

{% endblock %}

{% if studygroupform %}
{% block top %}
<script>
  function myFunction(error) {
    alert(error);
  }
</script>
{% if error %}
<script type="text/javascript"> myFunction("{{error}}");</script>
{% endif %}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a new Study Group</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'add_studygroup' %}" class="form-signin">
        <table style="margin-right:auto;
          margin-left:auto; ">
              {{ studygroupform.name|addcss:"form-control, placeholder:Name"}}
              <br>
              {{ studygroupform.course|addcss:"form-control, placeholder:Course"}} 
              <br>
              {{ studygroupform.location_name|addcss:"form-control, placeholder:Location Name"}} 
              <br>
                <div id="datetimepicker2" class="input-append">
                  <input data-format="MM/dd/yyyy HH:mm:ss PP" name="startTime" class="form-control" placeholder="Start Time" type="text"></input>
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                  </span>
                </div>
                            <script type="text/javascript">
                $(function() {
                  $('#datetimepicker2').datetimepicker({
                    language: 'en',
                    pick12HourFormat: true
                  });
                });
              </script>
              <br>
                <div id="datetimepicker1" class="input-append">
                  <input placeholder="End Time" data-format="MM/dd/yyyy HH:mm:ss PP" name="endTime" class="form-control" type="text"></input>
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                  </span>
                </div>
              
              <script type="text/javascript">
                $(function() {
                  $('#datetimepicker1').datetimepicker({
                    language: 'en',
                    pick12HourFormat: true
                  });
                });
              </script>
                <br>
              Private {{ studygroupform.private|addcss:"form-control, placeholder:Private" }}
        </table>

        
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create!</button>
      </div>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      $('.bootstrap-datetimepicker-widget').css('background','black');
    });
    
</script>

{% endblock %}

{% endif %}
{% block scripts %}
<div id="map-canvas"></div>
<div>

<div id = "buttons">
 <a href="#" style="position: fixed; bottom: 30px; right: 70px;" class="btn btn-success btn-sm  " data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" id = "study-group" aria-hidden="true"></span> Study Group</a>

{% if is_studying %}
<a href="#" style="position: fixed; bottom: 30px; right: 30px;" class="btn btn-danger btn-sm  "><span class="glyphicon glyphicon-stop" id = "stop" aria-hidden="true"></span></a>

{% else %}
<a href="#" style="position: fixed; bottom: 30px; right: 30px;" class="btn btn-info btn-sm  "><span class="glyphicon glyphicon-record" id = "location" aria-hidden="true"></span></a>

{% endif %}
</div>
<div id = "add-studygroup" hidden="true">
      <button id = 'start-studying' href="#" style="position: fixed; bottom: 30px; right: 30px;" class="btn btn-info btn-sm  "><span class="glyphicon glyphicon-book"  hidden="true"></span> Start Studying</button>
      <div class="form-group" style="position: fixed; bottom: 60px; right: 30px;">
        <input   type="text" name="studying-course" id = "studying-course" class="form-control" placeholder="Which class? ex. 36225">
      </div>
           
</div>

</div>
<style>
      #map-canvas {
        width: 200vh;
        height: 100vh;
        margin-top:40px;
        margin-left:auto;
        margin-right:auto;
        
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <script>

  var data = {};
  function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(40.4430939,-79.942309),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      streetViewControl: false
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    map.set('styles', [
        
  {
    featureType: 'poi.school',
    elementType: 'geometry',
    stylers: [
      { hue: '#f29b10' },
      { lightness: -15 },
      { saturation: 99 }
    ]
  }

  

]);
  // Try HTML5 geolocation
if ($('#location').length) {
  document.getElementById("location").onclick = function() {
    $('#buttons').hide(150)
    $('#add-studygroup').show(300);

    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      data.marker = new google.maps.Marker({
      position: pos,
      map: map,
      draggable:true,
      icon:"https://s3-us-west-2.amazonaws.com/quotist-bucket/pin_darkblue.png",
    animation: google.maps.Animation.BOUNCE,
    });
      map.setCenter(pos);
      map.setZoom(18)
     
    }, function() {
      handleNoGeolocation(true);
    });
  };
}
else {
  document.getElementById("stop").onclick = function() {
    
    var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].defaultValue;
    $.ajax({
        url: "{% url 'set_map_studygroup_default' %}",
        type:'get',
        dataType : "json",
        data: {csrfmiddlewaretoken: csrftoken, id:"{{user_id}}" },
        success: function( items ) {
            
            console.log('success');
            $('.navbar-brand')[0].click();
        }, error: function (items) {
            $('.navbar-brand')[0].click();
        }
            
    });
  }
}







  $.ajax({
        url: "{% url 'get_studygroups' user.id %}",
        dataType : "json",
        success: function( items ) {
            // Removes the old to-do list items
            
            // $("li").remove();
            console.log('success');
            
            // // Adds each new todo-list item to the list
            for (i = 0; i < items.length; i++){
                

                var infowindow = new google.maps.InfoWindow({
                    content: "<a style='text-decoration:none;' href ='/studyroom/change_studygroup/" + items[i].pk + "' ><b style = 'color:black;'><div class='info_title' style='font-size:20px;'>" + items[i].fields['name'] + "</div>" + items[i].fields['course'] + "</b>" +"<p style = 'color:black;'>" + "</p>" + "<p style = 'color:black;'>" + 'Owned by ' + items[i].fields['owner'] + "</p></a>", noSuppress:true

                });
                if (items[i].fields['private']) {
                    var icon = "https://s3-us-west-2.amazonaws.com/quotist-bucket/pin_red.png"
                } else {
                    var icon = "https://s3-us-west-2.amazonaws.com/quotist-bucket/pin_blue.png"
                }

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(items[i].fields['location_latitude'],items[i].fields['location_longitude']),
                    map: map,
                    icon:icon,
                    title: items[i].fields['name'],
                    infowindow: infowindow
                  });
                data.open = null;
                google.maps.event.addListener(marker, 'click', function() {
                  if (data.open != null) {
                    data.open.close();
                  }
                  this.infowindow.open(map,this);
                  data.open = this.infowindow;
                });
            }
            
        }
    });

}
function fixInfoWindow() {
    // Here we redefine the set() method.
    // If it is called for map option, we hide the InfoWindow, if "noSuppress"  
    // option is not true. As Google Maps does not know about this option,  
    // its InfoWindows will not be opened.

    var set = google.maps.InfoWindow.prototype.set;

    google.maps.InfoWindow.prototype.set = function (key, val) {
        if (key === 'map' && ! this.get('noSuppress')) {
            console.warn('This InfoWindow is suppressed.');
            console.log('To enable it, set "noSuppress" option to true.');
            return;
        }

        set.apply(this, arguments);
    }
}

  fixInfoWindow();
  google.maps.event.addDomListener(window, 'load', initialize);


  document.getElementById("start-studying").onclick = function() {
    var pos = data.marker.getPosition();
    var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].defaultValue;
    var course = $('#studying-course').val()
    
    $.ajax({
        url: "{% url 'set_map_studygroup_default' %}",
        type:'post',
        dataType : "json",
        data: {csrfmiddlewaretoken: csrftoken, course:course,lat:pos.k, lng:pos.D, id:"{{user_id}}" },
        success: function( items ) {
            
            console.log('success');
            $('.navbar-brand')[0].click();
        }, error: function (items) {
            $('.navbar-brand')[0].click();
        }
            
    });
  }

  
   

</script>


    <!-- jQuery -->
    


    
    <!-- Menu Toggle Script -->
{% endblock %}