{% extends "socialnetwork/base.html" %}
{% load addcss %}


{% block head %}

{% endblock %}

{% if studygroupform %}
{% block top %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a New StudyGroup</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'add_studygroup' %}" class="form-signin">
        <table style="margin-right:auto;
          margin-left:auto; ">
              {{ studygroupform.as_table}}  
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create!</button>
      </div>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% endif %}
{% block scripts %}
<div id="map-canvas"></div>
<div>
 <a href="#" style="position: fixed; bottom: 30px; right: 70px;" class="btn btn-success btn-sm  " data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" id = "study-group" aria-hidden="true"></span> Study Group</a>
<a href="#" style="position: fixed; bottom: 30px; right: 30px;" class="btn btn-info btn-sm  "><span class="glyphicon glyphicon-record" id = "location" aria-hidden="true"></span></a>
</div>
<style>
      #map-canvas {
        width: 200vh;
        height: 100vh;
        margin-top:60px;
        margin-left:auto;
        margin-right:auto;
        
      }
    </style>
    <script src="/static/js/jquery.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>

  var data = {};
  function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(40.4430939,-79.942309),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    map.set('styles', [
        
  {
    featureType: 'poi.school',
    elementType: 'geometry',
    stylers: [
      { hue: '#f29b10' },
      { lightness: -15 },
      { saturation: 99 }
    ]
  }

  

]);
  // Try HTML5 geolocation
  document.getElementById("location").onclick = function() {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var marker = new google.maps.Marker({
      position: pos,
      map: map,
      icon:'http://cdn-img.easyicon.net/png/40/4058.png'
    });

     
    }, function() {
      handleNoGeolocation(true);
    });
  };


  $.ajax({
        url: "{% url 'get_studygroups' user.id %}",
        dataType : "json",
        success: function( items ) {
            // Removes the old to-do list items
            
            // $("li").remove();
            console.log('success');
            // // Adds each new todo-list item to the list
            for (i = 0; i < items.length; i++){
                

                var infowindow = new google.maps.InfoWindow({
                    content: "<b style = 'color:black;'>" + items[i].fields['name'] + "</b>" +"<p style = 'color:black;'>" + items[i].fields['description'] + "</p>" + "<p style = 'color:blue;'>" + 'Owned by ' + items[i].fields['owner'] + "</p>", noSuppress:false
                });


                var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(items[i].fields['location_latitude'],items[i].fields['location_longitude']),
                  map: map,
                  //icon:'http://cdn-img.easyicon.net/png/40/4058.png',
                  title: items[i].fields['name'],
                  infowindow: infowindow
                });
                data.open = null;
                google.maps.event.addListener(marker, 'click', function() {
                  if (data.open != null) {
                    data.open.close();
                  }
                  this.infowindow.open(map,this);
                  data.open = this.infowindow;
                });
            }
            
        }
    });

}
function fixInfoWindow() {
    // Here we redefine the set() method.
    // If it is called for map option, we hide the InfoWindow, if "noSuppress"  
    // option is not true. As Google Maps does not know about this option,  
    // its InfoWindows will not be opened.

    var set = google.maps.InfoWindow.prototype.set;

    google.maps.InfoWindow.prototype.set = function (key, val) {
        if (key === 'map' && ! this.get('noSuppress')) {
            console.warn('This InfoWindow is suppressed.');
            console.log('To enable it, set "noSuppress" option to true.');
            return;
        }

        set.apply(this, arguments);
    }
}

  //fixInfoWindow();
  google.maps.event.addDomListener(window, 'load', initialize);

</script>


    <!-- jQuery -->
    


    
    <!-- Menu Toggle Script -->
{% endblock %}