{% extends "socialnetwork/base.html" %}
{% load addcss %}


{% block head %}

{% endblock %}

{% if studygroupform %}
{% block top %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a New StudyGroup</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'add_studygroup' %}" class="form-signin">
        <table style="margin-right:auto;
          margin-left:auto; ">
                {{ studygroupform.name|addcss:"form-control, placeholder:group name"}}
                
              <div id="datetimepicker" class="input-append date">
              {{ studygroupform.start_time|addcss:"form-control, placeholder:start time"}}
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
                {{ studygroupform.end_time|addcss:"form-control, placeholder:end time"}}

                {{ studygroupform.course|addcss:"form-control, placeholder:course"}}

                {{ studygroupform.topic|addcss:"form-control, placeholder:topic"}}

                {{ studygroupform.description|addcss:"form-control, placeholder:description"}}

                {{ studygroupform.location_name|addcss:"form-control, placeholder:Building Name"}}

                {{ studygroupform.location_room|addcss:"form-control, placeholder:Room or Location"}}

                
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create!</button>
      </div>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% endif %}
{% block scripts %}
<style>
      #map-canvas {
        width: 200vh;
        height: 100vh;
        margin-top:60px;
        margin-left:auto;
        margin-right:auto;
        
      }
    </style>
    <script src="/static/js/jquery.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>



  function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(40.4430939,-79.942309),
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    map.set('styles', [
        
  {
    featureType: 'poi.school',
    elementType: 'geometry',
    stylers: [
      { hue: '#f29b10' },
      { lightness: -15 },
      { saturation: 99 }
    ]
  }

  // $.ajax({
  //       url: "/studyroom/get_studyrooms" + "/" + postID,
  //       dataType : "json",
  //       success: function( items ) {
  //           // Removes the old to-do list items
            
  //           // $("li").remove();

  //           // // Adds each new todo-list item to the list
  //           for (i = 0; i < items.length; i++){
  //               var marker = new google.maps.Marker({
  //                 position: new google.maps.LatLng(items[i].fields['location_latitude'],items[i].fields['location_longitude'])
  //                 map: map,
  //                 icon:'http://cdn-img.easyicon.net/png/40/4058.png'
  //               });
  //           }
            
  //       }
  //   });

]);
  // Try HTML5 geolocation
  document.getElementById("location").onclick = function() {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var marker = new google.maps.Marker({
      position: pos,
      map: map,
      icon:'http://cdn-img.easyicon.net/png/40/4058.png'
    });

     
    }, function() {
      handleNoGeolocation(true);
    });
  }
}

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div id="map-canvas"></div>
<div>
 <a href="#" style="position: fixed; bottom: 30px; right: 70px;" class="btn btn-success btn-sm  " data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" id = "location" aria-hidden="true"></span> Study Group</a>
<a href="#" style="position: fixed; bottom: 30px; right: 30px;" class="btn btn-info btn-sm  "><span class="glyphicon glyphicon-record" id = "location" aria-hidden="true"></span></a>
</div>

    <!-- jQuery -->
    


    
    <!-- Menu Toggle Script -->
{% endblock %}