{% extends "socialnetwork/base.html" %}

{% block mainbody %}
<div class="modal-dialog" style="margin-top: 100px;">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Bill the Hacker&Hustler</h4>
        </div>
    <div class="modal-body">
        <center>
        <div class="image-cropper">
        <img src="http://abcnews.go.com/images/WNT/140930_wn_gates_16x9_992.jpg" name="aboutme"  border="0">
      </div></a>
        <h3 class="media-heading">{{full_name}}<small>USA</small></h3>
        <div class="rating">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
        </center>
        <hr>
        <span><strong>School: {{school}}</strong></span>
        <hr>
        <span><strong>Major: {{major}}</strong></span>
        <hr>
        <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS/JavaScript</span>
            <span class="label label-info">C/C++</span>
            <span class="label label-info">Python 2.7</span>
            <span class="label label-success">Java</span>
        
        <hr>
        <span><strong>Interests: </strong></span>
            <span class="label label-warning">Machine Learning</span>
            <span class="label label-info">Entrepreneurship</span>
            <span class="label label-info">Web Applications</span>
            <span class="label label-success">Distributed Systems</span>
        
        <hr>
        <span><strong>Endorsement: </strong></span>
            <span class="label label-warning">Python</span>
            <span class="label label-info">Project Management</span>
            <span class="label label-info">Photoshop</span>
            <span class="label label-success">Django</span>
        
        <hr>

        
        
        <p class="text-left"><strong>Bio: </strong><br>
            Interned at Honeywell. Founded Microsoft Inc. Richest Man.</p>
        <br>
        
    </div>
    <div class="modal-footer">
        <center>
        <button type="button" class="btn btn-info" data-dismiss="modal">Connect</button>
        <form action="/socialnetwork/edit" method="get">
            <button type="submit" class="btn btn-info" data-dismiss="modal" value="Edit">Edit</button>
        </center>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- jQuery -->
<script src="/static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- Menu Toggle Script -->
{% endblock %}