{% extends "socialnetwork/login.html" %}

{% load addcss %}


{% block panel %}

<!-- {% if form.errors %}
	{{ form.errors }}
{% endif %}  -->

{% if form.email.errors %}
    <ol>
    {% for error in form.email.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% if form.password1.errors %}
    <ol>
    {% for error in form.password1.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

{% if form.password2.errors %}
    <ol>
    {% for error in form.password2.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}


<form method="post" action="{% url 'register' %}" class="form-signin">
<table style="margin-right:auto;
  margin-left:auto; ">
		{{ form.first_name|addcss:"form-control, placeholder:first name" }}
		{{ form.last_name|addcss:"form-control, placeholder:last name" }}
		{{ form.email|addcss:"form-control, placeholder:email" }}
		{{ form.school|addcss:"form-control, placeholder:school" }}
		{{ form.major|addcss:"form-control, placeholder:major" }}
		{{ form.password1|addcss:"form-control, placeholder:password,type:password" }}
		{{ form.password2|addcss:"form-control, placeholder:confirm password,type:password" }}
		<input class="btn btn-lg btn-info btn-block" type='submit' name='submitPost' value='Submit' >
		{% csrf_token %}
{% endblock %}
