{% extends "socialnetwork/base.html" %}
{% load addcss %}
{% block top %}
{% if in_studygroup %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Write a post</h4>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'add_post_studygroup' current_studygroup.id %}" class="form-signin">
        <table style="margin-right:auto;
          margin-left:auto; ">
                {{ form.title|addcss:"form-control, placeholder: Title" }}
                <br>
                {{ form.text|addcss:"form-control, placeholder: Post" }}
                <br>
                Add an attachment?
                <br>
                {{ form.attachment|addcss:"form-control, placeholder: Attachment" }}
                <br>
                {{ form.attachment_name|addcss:"form-control, placeholder: Attachment Name" }}
                
                <br>
                {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Post!</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block mainbody %}   
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="background: url(http://subtlepatterns.com/patterns/denim.png);">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">


                
                    <div>
                     {{current_studygroup.name}}
                     {% if is_owner or is_member %}
                        <button style="position:absolute; left:280px; top: 10px;" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-file"></span> Add Post</button>
                    {% endif %}
                    </div>

            </li>
            <br>
            <div class="row-fluid">
                <div class="col-lg-12 col-md-12 ">
                    <div class="picture-container">
                        
                        <table width="100%">
                            <tr>
                                {% for stu in students.all %}
                                    <td>
                                        <center><a href="{% url 'profile' stu.id %}">
                                            <div style="width: 80px;height: 80px;border-radius: 5%;">
                                                <img src="{{ stu.picture_url }}" class="profile-image" name="aboutme" width="100%" style="width: 70px;height: 70px;"></center>
                                            </div>
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for stu in students.all %}
                                    <td><center>{{ stu.user.first_name }}</center></td>
                                {% endfor %}
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <br><br><br><br><br>
            {% if posts %}
            {% for post in posts %}
                <li>
                <a href="{% url 'show_post_studygroup' post.id %}" ><div style="margin-top:10px;color:white;line-height:200%;">{{post.title}}</div>
                <div style="font-size:9px;line-height:200%;">{{ post.text|slice:"80" }}{% if post.text|length > 80 %}...{% endif %}</div></a>
                </li>
            {% endfor %}
            {% else %}
                <li>
                <div style="margin-top:10px;color:white;line-height:200%;">Go to tools and join studygroup to view posts.</div>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="margin-top:60px">
        <h1 style="color:black;">{{current_post.title}}</h1>
        <div class="container">
            

            <div class="timeline-centered">

            <article class="timeline-entry">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon bg-success">
                        <div class="timeline-time">
                        <a href="{% url 'profile' current_post.student.id %}">
                                            <center><div style="width: 80px;height: 80px;border-radius: 5%;">
                                                <img src="{{ current_post.student.picture_url }}" class="profile-image" name="aboutme" width="100%" style="width: 50px;height: 50px;">
                                            </div></center>
                                        </a>
                    </div>
                        <span class="glyphicon glyphicon-heart" style="font-size: 1.4em; color:red;"></span>{{ current_post.upvotes }}
                        
                        <a href="{% url 'addPostUpvoteStudyGroup' current_post.id 1 %}"><span class="glyphicon glyphicon-plus" style="font-size: 1.4em; color:green;"></span></a>
                        
                        
                        <a href="{% url 'addPostUpvoteStudyGroup' current_post.id -1 %}"><span class="glyphicon glyphicon-minus" style="font-size: 1.4em; color:red;"></span></a>
                        
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#">{{current_post.student.user.first_name}} {{current_post.student.user.last_name}}</a> <span>{{current_post.date}}</span></h2>
                        <div style="color:black;"> {{current_post.text|linebreaksbr}} </div>
                        {% if attachment_url %}
                            <a href="{{attachment_url}}">{{ attachment_name}} </a>
                        {% endif %}
                    </div>
                </div>

            </article>

           <article class="timeline-entry">

                {% for comment in current_post.comments.all %}
                    <article class="timeline-entry">


                        <div class="timeline-entry-inner">
                            <div class="timeline-time">
                        <a href="{% url 'profile' current_post.student.id %}">
                                            <center><div style="width: 80px;height: 80px;border-radius: 5%;">
                                                <img src="{{ current_post.student.picture_url }}" class="profile-image" name="aboutme" width="100%" style="width: 50px;height: 50px;">
                                            </div></center>
                                        </a>
                    </div>
                            <div class="timeline-icon bg-warning">
                                <span class="glyphicon glyphicon-heart-empty" style="font-size: 1.4em; color:white;"></span>1
                                <i class="entypo-suitcase"></i>
                            </div>

                            <div class="timeline-label">
                                <h2><a href="#">{{comment.student.user.first_name}} {{comment.student.user.last_name}}</a> <span>{{comment.date}}</span></h2>
                                <div style="color:black;">{{comment.text}}</div>
                                {% if comment.attachment_url %}
                                    <a href="{{comment.attachment_url}}">{{ comment.attachment_name}} </a>
                                {% endif %}
                            </div>
                        </div>

                    </article>
                {% endfor %}

            {% if current_post.id %}
            <article class="timeline-entry" id = "comment-box" hidden= true>

                <div class="timeline-entry-inner">

                    <div class="timeline-label">
                        <form action="{% url 'add_comment_studygroup' current_post.id %}" enctype="multipart/form-data" method="post">
                            <div class="col">
                                <div class="panel" style="background-color:#00BC8C">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">Comment on this post</h3>
                                  </div>
                                  <div class="panel-body">
                                    {{ comment_form.text|addcss:"form-control, placeholder:Comment, id:comment-text-box" }}
                                    <br>
                                    {{ comment_form.attachment|addcss:"form-control, placeholder: Attachment" }}
                                    <br>
                                    {{ comment_form.attachment_name|addcss:"form-control, placeholder: Attachment Name" }}
                                    <br>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Comment!</button>  
                                    
                                  </div>
                                </div>
                            </div>
                          {% csrf_token %}
                        </form>
                    </div>
                </div>

            </article>
            {% endif %}

            

            <article class="timeline-entry begin">

                <div class="timeline-entry-inner">
                    <a href="#add-comment" id = "add-comment">
                    <div class="timeline-icon bg-info" style="">+
                        <span class="glyphicon glyphicon-comment" style="font-size: 1.4em"></span>
                        <i class="entypo-flight"></i>
                    </div></a>

                </div>

            </article>


{% endblock %}

{% block in_scripts %}
   
    $("#add-comment").click(function(e) {
        $('#comment-box').toggle(500);
        $('#comment-text-box').focus();
    });

    document.getElementById("send-invites").onclick = 
      function() {
        var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].defaultValue;
        $.ajax({
            url: "{% url 'send_invites' %}",
            type:'post',
            dataType : "json",
            data: {csrfmiddlewaretoken: csrftoken, invites: invites, studygroup_id: {{current_studygroup.id}}},
        });
      }
      
{% endblock %}

